<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.11">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>* * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.30">
    <script>node {
    
    stage(&apos;checkout&apos;) {
        // some block
    
        git &apos;https://github.com/g0t4/jenkins2-course-spring-boot.git&apos;
    }
    
    def project_path = &apos;spring-boot-samples/spring-boot-sample-atmosphere&apos;
    
    dir(project_path) {
        // some block
        stage(&apos;compile, testing, package&apos;) { sh &apos;mvn -f pom.xml clean package&apos; }
        stage(&apos;archival&apos;) { archiveArtifacts &quot;target/*.jar&quot; }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>